<section class="container bg color">
    <section class="row">
        <form> <!--(ngSubmit)="agregarPersona(nombre.value,apellidos.value,edad.value)"-->
            <h1>Datos Personales</h1>
            <label class="form-label">Nombre:</label>
                <section class="col-2">
                 <input class="form-control" type="text" #nombre name="nombre"> 
                </section>
            <br>
            <label class="form-label">Apellidos:</label>
            <section class="col-2">
                <input class="form-control" type="text" #apellidos name="apellidos">
            </section>
            <br>
            <label class="form-label">Edad:</label>
            <section class="col-2">
                <input class="form-control" type="number" #edad name="edad"> 
            </section>
            <br>
            <section> <!--BUTTON -->
                <button class="p-2 btn btn-outline-primary" type="button" (click)="agregarPersona(nombre.value,apellidos.value,edad.value)">Agregar persona</button> <!--(click)="agregarPersona(nombre.value,apellidos.value,edad.value)"-->
            </section>
        </form>
    </section>
</section>
<p></p>
<section class="container">
    <section class="row">
        <table class="table">
            <thead>
            <tr class="table-primary">
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Edad</th>
                <th>Mayor de edad</th>
            </tr>
            </thead>
            <tbody class="table-primary">
            <tr class="table-primary" *ngFor="let persona of personas">
                <td class="table-primary" >{{persona.nombre}}</td>
                <td class="table-primary">{{persona.apellidos}}</td>
                <td class="table-primary">{{persona.edad}}</td>
                <td class="table-primary">
                    <span *ngIf="persona.edad >= 18; else menorDeEdad">Mayor de edad</span>
                    <ng-template #menorDeEdad>Menor de edad</ng-template>
                </td>
            </tr>
            </tbody>
        </table>    
    </section>
</section>


