.color{
    background-color: rgb(200, 220, 251);
    padding: 1rem;
    margin-top: 1rem;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}